body {
  background-image: url("https://ih1.redbubble.net/image.4980392803.4106/st,small,507x507-pad,600x600,f8f8f8.jpg");
  background-repeat: repeat repeat-x;
  background-position: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
img {
  height: 200px;
  width: auto;
}
.pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-rows: 1fr;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: grey;
}
