body {
  background-image: url("https://thisisbeast.com/cdn/shop/files/Beast_Logo_on_Black_300x300.jpg?v=1614404868");
  color: lightblue;
  font-size: 15px;
}
img {
  height: 200px;
  width: auto;
}
.pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-rows: 1fr;
}
